<?xml version="1.0"?>
<!-- General Model Info -->
<model>
  <name>Exercise6 Track</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Risto</name>
    <email>risto.j.ojala@aalto.fi</email>
  </author>

  <description>
    Track for exercise6
  </description>
</model>
